%h4.ui.center.aligned.medium.icon.header
  %i.circular.wechat.icon.custom_purple
  Say Something

.ui.two.column.grid
  .twelve.wide.column
    %div.ui.fluid.raised.card.chatbox
      %div.content
        .ui.small.feed
          %h4.ui.header Followers Activity
          .event
            .content
              .summary
                %a Elliot Fu
                added
                %a Jenny Hess
                as a friend
          .event
            .content
              .summary
                %a Stevie Feliciano
                added
                %a Elliot Fu
                as a friend
          .event
            .content
              .summary
                %a Helen Troy
                added
                %a Christian Rocha
                as a friend
          .event
            .content
              .summary
                %a Christian Rocha
                signed up for the  site.

  .four.wide.column
    %div.ui.fluid.raised.card.chatbox
      %div.content
        .ui.inverted.vertical.menu
          %a.active.item
            Home
          %a.item
            Messages
          %a.item
            Friends
