%a.item
  Chatroom
  %a.item
    Messages
  .right.menu
    .ui.dropdown.item
      Account
      %i.dropdown.icon
      .menu
        %a.item Logout
        %a.item Login
        %a.item Signup
    .item
      .ui.primary.button Sign Up
