= link_to 'Chatroom', root_path, class: 'item'

%a.item
  Messages
.right.menu
  .ui.dropdown.item
    Account
    %i.dropdown.icon
    .menu
      = link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: 'item' if logged_in?
      = link_to 'Login', login_path, class: 'item' unless logged_in?
  .item
    = link_to 'Login', login_path, class: 'ui primary button' unless logged_in?
